Flask
Flask-Login
Flask-SQLAlchemy
psycopg2-binary
psycopg
reportlab
python-dotenv
pydantic
langchain-anthropic
langchain-google-genai
langchain
langchain-classic
duckduckgo-search
ddgs
langchain-community
wikipedia
gunicorn
